@tailwind base;

@tailwind components;

@tailwind utilities;

.counter-container {
  margin-right: -2rem;
}

.counter {
  font-family: Alfa Slab One;
}

.playAgainContainer {
  margin-right: -5rem;
}

.deal-container {
  margin-right: -10rem;
}

.deal {
  font-family: Alfa Slab One;
}

.card1 {
  font-family: Rockwell;
  position: relative;
  animation-name: movecard;
  animation-duration: 0.3s;
  /* animation-delay: .11s; */
  animation-fill-mode: forwards;
}

.card2 {
  font-family: Rockwell;
  position: relative;
  animation-name: movecard;
  animation-duration: 0.6s;
  /* animation-delay: .11s; */
  animation-fill-mode: forwards;
}

@keyframes movecard {
  0% {
    top: -400px;
  }
  /* 100% {
    top: 0px;
  } */
}

.card3 {
  font-family: Rockwell;
  position: relative;
  animation-name: movecard;
  animation-duration: 0.9s;
  /* animation-delay: .11s; */
  animation-fill-mode: forwards;
}

.card4 {
  font-family: Rockwell;
  position: relative;
  animation-name: movecard;
  animation-duration: 1.2s;
  /* animation-delay: .11s; */
  animation-fill-mode: forwards;
}

.card5 {
  font-family: Rockwell;
  position: relative;
  animation-name: movecard;
  animation-duration: 1.5s;
  /* animation-delay: .11s; */
  animation-fill-mode: forwards;
}

.last-card1 {
  font-family: Rockwell;
}

.last-card2 {
  font-family: Rockwell;
}

.suit-name {
  font-size: 5.5rem;
  font-weight: 900;
}

.dealer {
  margin-right: -4rem;
}

.loser {
  margin-right: -11.5rem;
}

.winner {
  position: relative;
  animation-name: winner;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  top: 5rem !important;
  left: 23rem;
}

@keyframes winner {
  0% {
    top: -10rem;
  }
  100% {
    top: 20rem;
  }
}

.reset {
  font-family: Alfa Slab One;
}
