@tailwind base;

@tailwind components;

@tailwind utilities;

.poker-main {
  /* background-color: green;
  background-image: linear-gradient(315deg, #00b712 0%, green 74%); */
}

.counter-container {
  margin-right: -2rem;
  /* border: yellow solid 2px; */
}

.counter {
  font-family: Alfa Slab One;
}

.playAgainContainer {
  margin-right: -5rem;
}

.deal-container {
  margin-right: -10rem;
}

.deal {
  font-family: Alfa Slab One;
}

.cards-grid {
}

.card1 {
  font-family: Rockwell;
}

.card2 {
  font-family: Rockwell;
}

.card3 {
  font-family: Rockwell;
}

.card4 {
  font-family: Rockwell;
}

.card5 {
  font-family: Rockwell;
}

.suit-name {
  font-size: 5.5rem;
  font-weight: 900;
}

.dealer {
  margin-right: -4rem;
}

.loser {
  margin-right: -11.5rem;
}

.winner {
  top: 10vh;
  right: 25vw;
  margin-right: -2rem;
}

.reset {
  font-family: Alfa Slab One;
}
